#main {
  width: 600px;
  margin: auto;
}
#survey-form {
  background: LightPink;
  font-family: arial, monospace;
  border-radius: 15px;
  padding: 40px;
}
.header {
  text-align: center;
  font-family: arial, monospace;
}
.input {
  border-radius: 3px;
  height: 35px;
  width: 500px;
}
.checkboxes-label {
  border-radius: 3px;
  height: 35px;
  width: 505px;
  border-style: solid;
}
#textarea {
  width: 500px;
  height: 100px;
  resize: none;
  border-radius: 3px;
}
#submit {
  height: 35px;
  width: 500px;
  background-color: LightYellow;
  border-radius: 50em;
}
